* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Helvetica', sans-serif;
    background: rgb(176, 139, 201);
    

    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
  }
  
  .container {
    max-width: 350px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fdfa4b;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 100%;
  }
  
  .tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
    align-items: center;
    
  }
  
  .tab-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .tab-button:hover {
    background-color: #1b9621;
  }
  
  .tab-content {
    display: none;
  }
  
  .qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  #qr-code {
    max-width: 200px;
    margin-bottom: 10px;
    display: none;
  }
  
    input[type="text"],
    input[type="email"],
    input[type="password"],
    #social-platform {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #download-btn {
    display: none;
    margin-top: 10px;
  }
  
  .show {
    display: block;
  }
  .copy-right {
    margin-top: 30px;
    text-align: center;
    color: #000000;
    font-size: 15px;
    top: 95%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .copy-right hr {
    width: 100%;
    border: 0.5px solid #777;
    margin: 5px auto;
  }
  
  .social-media {
    margin-top: 10px;
  }
  
  .social-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-content a {
    margin: 0 5px;
    font-size: 1.1rem;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
  }